@mixin tag-badge($bg-color) {
  // color: $base-text;
  font-size: toRem(14);
  border-radius: toRem(100);
  // padding: toRem(5) toRem(10);
  background-color: $bg-color;
}

.published {
  @include tag-badge($success-color);
}

.draft {
  @include tag-badge($warning-color);
}

.keywords {
  @include tag-badge($keyword-color);
}

