$base-theme-text: #010101;
$base-theme-text2: #67508e;
// login
$base-theme-login-ls-bg: $base-theme-text2;
$base-theme-login-rs-bg: #f3f3f3;
$base-theme-login-rs-heading: #563d81;

// input
$base-theme-input-text: #737373;
$base-theme-input-border: #ebebeb;
$base-theme-input-bg: #fdfdfd;

$base-theme-sidebar-bg: $base-theme-login-ls-bg;
$base-theme-side-heading: #e7e1ea;
$base-theme-nav-selected: #010101;

//table
$base-theme-table-header-bg: #f8f6fb;
$base-theme-table-header-text: $base-theme-text2;
$base-theme-table-header-border: #d9d9d9;

//button
$base-theme-button-bg: #563d81;
$base-theme-button-bg2: #6e539b;
$base-theme-cancel-button-bg: #dbdbdb;
$base-theme-publish-button-bg: #d5cde4;
$base-theme-publish-button-text: #694f96;

//chips

$base-theme-badge-text: #141414;
$base-theme-badge-published-bg: #8bd793;
$base-theme-badge-draft-bg: #f5b642;
$base-theme-badge-keyword-bg: #f0f0f0;

// card

$base-theme-card-header-bg: #F8F6FB;
$base-theme-card-border: #F0F0F0;
$base-theme-card-header-text: #67508E;
