.empty-state {
    text-align: center;
    padding: 2rem 1rem;

    img {
      max-width: 180px;
      margin-bottom: 1.5rem;
    }

    h5 {
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: #4c4c4c;
    }

    p {
      font-size: 0.9rem;
      color: #7c7c7c;
      margin-bottom: 1.5rem;
    }
  }