@import "@styles/colors.scss";

.master-badge {
  color: $base-theme-badge-text !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: bold !important;
  line-height: normal !important;
  letter-spacing: -0.175px !important;
}
.master-grid-container {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid $base-theme-table-header-border !important;
  height: 70vh;
  table {
    border: none !important;
    color: $base-theme-text2 !important;
    border: 1px solid $base-theme-table-header-border !important;
    width: 100%;

    th,
    td {
      border: 1px solid transparent !important;
      padding: 16px !important;
    }
    thead > tr > th {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: $base-theme-table-header-bg !important;
      border-bottom: 1px solid $base-theme-table-header-border !important;
    }
  }
}
